@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
* {
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', san-serif;
    background-color: rgb(87, 92, 172);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0;
    padding: 20px;
}
.container{
    padding: 40px 20px;
    background-color: white;
    border-radius: 10px;
    max-width: 100%;
    width: 800px;
    text-align: center;
    border: 0;
    box-shadow: 0px 6px 20px rgba(0,0,0,0.1), 0px 6px 20px rgba(0,0,0,0.1);
}
h3{
    opacity: 0.8;
    letter-spacing: 2px;
    margin: 0;
}
.jokes{
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 40px;
    margin: 40px auto;
    max-width: 600px;
}
.btn{
    background-color: rgb(116, 18, 116);
    color: white;
    border-radius: 10px;
    border: 0;
    padding: 15px 40px;
    box-shadow: 0px 6px 15px rgba(0,0,0,0.1), 0px 6px 6px rgba(0,0,0,0.1);
    cursor: pointer;
}
.btn:focus{
    outline: 0;
}
.btn:active{
    transform: scale(0.98);
}